Baixar o WebDriver
  -> Google Chrome -> 'chromedriver': https://chromedriver.chromium.org/downloads
  -> Firefox -> 'geckodriver': https://github.com/mozilla/geckodriver/releases

- Colar o executável no ambiente/bin/

In [1]:
import pandas as pd

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# Para não mostrar o navegador

# from selenium.webdriver.chrome.options import Options

# options = Options()
# options.headless = True
# driver = webdriver.Chrome(CHROMEDRIVER_PATH, options=options)

In [3]:
navegador = webdriver.Chrome()

# navegador2 = webdriver.Firefox()

In [4]:
# navegador.get('https://www.google.com')

In [5]:
# Usar aspas simples para evitar problema

# navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')

In [6]:
# navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

In [7]:
# cotacao_dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# print(cotacao_dolar)

In [8]:
def pesquisar_cotacao_google(navegador, termo_pesquisa):
    navegador.get('https://www.google.com')
    navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(termo_pesquisa)
    navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
    cotacao = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
    
    return float(cotacao)

In [9]:
cotacao_dolar = pesquisar_cotacao_google(navegador, 'cotação dólar')
print(cotacao_dolar)

4.914899999999999

In [10]:
cotacao_euro = pesquisar_cotacao_google(navegador, 'cotação euro')
print(cotacao_euro)

5.8635

In [11]:
navegador.get('https://www.melhorcambio.com/ouro-hoje')

In [12]:
cotacao_ouro = float((navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute('value')).replace(',', '.'))
print(cotacao_ouro)

280.47

In [13]:
tabela = pd.read_excel('Produtos.xlsx')

In [14]:
tabela

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [15]:
tabela.loc[tabela['Moeda'] == "Dólar", 'Cotação'] = cotacao_dolar
tabela.loc[tabela['Moeda'] == "Euro", 'Cotação'] = cotacao_euro
tabela.loc[tabela['Moeda'] == "Ouro", 'Cotação'] = cotacao_ouro

In [16]:
tabela

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,4.9149,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.8635,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,4.9149,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,4.9149,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.8635,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,4.9149,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,280.4700,7000.00,1.15,8050.000

In [17]:
tabela['Preço Base Reais'] = tabela['Preço Base Original'] * tabela['Cotação']

In [18]:
tabela

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,4.9149,4914.850851,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.8635,26385.750000,2.00,54000.000
2,Notebook Dell,899.99,Dólar,4.9149,4423.360851,1.70,7649.915
3,IPhone,799.00,Dólar,4.9149,3927.005100,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.8635,17590.500000,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,4.9149,2361.511152,2.00,4804.800
6,Joia 20g,20.00,Ouro,280.4700,5609.400000,1.15,8050.000

In [19]:
tabela['Preço Final'] = tabela['Preço Base Reais'] * tabela['Margem']

In [20]:
tabela

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,4.9149,4914.850851,1.40,6880.791191
1,Carro Renault,4500.00,Euro,5.8635,26385.750000,2.00,52771.500000
2,Notebook Dell,899.99,Dólar,4.9149,4423.360851,1.70,7519.713447
3,IPhone,799.00,Dólar,4.9149,3927.005100,1.70,6675.908670
4,Carro Fiat,3000.00,Euro,5.8635,17590.500000,1.90,33421.950000
5,Celular Xiaomi,480.48,Dólar,4.9149,2361.511152,2.00,4723.022304
6,Joia 20g,20.00,Ouro,280.4700,5609.400000,1.15,6450.810000

In [22]:
tabela.to_excel('Produtos Atualizados.xlsx', index=False)

In [21]:
navegador.quit()